*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: #5A20CB;
  height: 100vh;
}

.card{
  width: 50vw;
  background-color: #242B2E;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1{
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Bebas Neue";
}

input{
  height: 35px;
  border-radius: 5px;
  padding-left: 5%;
  border: none;
  outline: none;
}

button{
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #805ad5;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Bebas Neue';
  cursor: pointer;
}

button:hover{
  background-color: #5A20CB;
  color: #fff;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  width: 100%;
}

#heading{
  margin-bottom: 30px;
  color: white;
}

#box{
  width: 50%;
  height: 50%;
  background-color: #fff;
}

.todo-component{
  background-color: #805ad5;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.todo-component h1{
  margin-left: 5%;
  font-size: 20px;
  margin-top: 3%;
}


#icon{
  margin-right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


@media screen and (max-width:768px){
    h1{
        font-size: 3rem;
    }
}


@media screen and (max-width:425px){
  h1{
      font-size: 2rem;
  }

  .card{
    width: 70vw;
    background-color: #242B2E;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}